{% extends 'base.html' %}
{% block content%}
	
	{%with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<div class="w3-panel w3-amber w3-padding">
								{{ message }}
							</div>
						{% endfor%}
					{% endif %}
				{%endwith %}


	<div class="w3-mobile w3-card-4 w3-container w3-padding w3-round-xlarge w3-animate-top" style="width:50%;margin:auto">
		<form method='post' action="/userlogin">
			<p>
				<label>USERNAME</label>
				<input type="text" name="username" class="w3-input">
			</p>
			<p>
				<label>PASSWORD</label>
				<input type="password" name="password" class="w3-input">
			</p>
			<p>
				<input type="submit" value="LOGIN" class="w3-input w3-blue">
			</p>
		</form>
	</div>
{% endblock %}